<div class="container">

    <h1>Dobrodošli</h1>

    <h2>Diplomski rad - Miljan Grčić</h2>

    <h3>Kratak opis:</h3>
    <p>Za diplomski rad je kao tema uzeto pravljenje CMS-a (Content Managment System)</p>
    <p>
        Aplikacija sa jedne strane treba da omogući korisnicima da lako dolaze do informacija o različitim pićima i proizvođačima istih, 
        a sa druge strane da omogući jednostavno upravljanje sadržajem.
    </p>
    <p>Upravljanje sadržajem vrše administratori sajta koji imaju odgovarajuće kredencijale</p>

    <h3>Linkovi:</h3>
    <ul>
        <li><a mat-raised-button href="https://github.com/miljangrcic/diplomski_api/" target="_blank">(Github) - Web Api</a></li>
        <li><a mat-raised-button href="https://github.com/miljangrcic/diplomski_angular/" target="_blank">(Github) - Angular</a></li>
        <li><a mat-raised-button href="/assets/images/ERDiagram.jpg" download>ER Dijagram</a></li>
    </ul>

    <h3>Korišćene tehnologije:</h3>
    <ul>
        <li>Angular</li>
        <li>Angular Material</li>
        <li>Automapper</li>
        <li>.NET Core Web API</li>
        <li>Entity Framework Core</li>
        <li>Microsoft SQL Server</li>
    </ul>

</div>

