<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">

    <mat-form-field>
        <mat-label>Korisničko ime</mat-label>
        <input matInput formControlName="username" type="text">
        <mat-error *ngIf="username.hasError('required')">Korisničko ime je obavezno</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Lozinka</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="password?.hasError('required')">Lozinka je obavezna</mat-error>
    </mat-form-field>

    <button [disabled]="loginForm.invalid" mat-button>Login</button>


</form>