<div class="container">

    <h1>Tražena stranica nije pronađena</h1>

    <img src="assets/images/not_found.png" alt="">

    <h2>Korisni linkovi: </h2>

    <ul>

        <li>
            <a routerLink="/dobrodosli" mat-raised-button class="neutral-button">Početna</a>
        </li>
    
        <li>
            <a routerLink="/proizvodi" mat-button class="neutral-button">Proizvodi</a>
        </li>
    
        <li>
            <a routerLink="/proizvodjaci" mat-button class="neutral-button">Proizvođači</a>
        </li>
    
    </ul>
    
</div>





